body {
    background-color: beige;
}

#btn {
    padding: 12px;
    background-color: lightblue;
    border-radius: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}